@use "_impl/blockquote";

.markdown-alert {
  @extend %blockquote;
  --lightness: 56%;
  --chroma: 0.18;
  --color: oklch(var(--lightness) 0 0deg);
  background-color: oklch(from var(--color) 84% c h / 0.08);
  border-color: var(--color);
  &-title {
    font-weight: 500;
    color: var(--color);
  }
  &-note {
    --color: oklch(var(--lightness) var(--chroma) 256deg);
  }
  &-tip {
    --color: oklch(var(--lightness) var(--chroma) 148deg);
  }
  &-important {
    --color: oklch(var(--lightness) var(--chroma) 295deg);
  }
  &-warning {
    --color: oklch(var(--lightness) var(--chroma) 75deg);
  }
  &-caution {
    --color: oklch(var(--lightness) var(--chroma) 25deg);
  }
}
