.chroma {

  .n,
  .o,
  .p {
    opacity: 0.95;
  }

  /* Keyword */
  .k,
  .kd,
  .kn,
  .kp,
  .kr,
  .kt,
  .ow {
    color: #56B4E9;
  }

  /* Constant, Type, NameSpace */
  .kc,
  .no,
  .nd,
  .ni,
  .nn {
    color: #0072B2;
  }

  /* Builtin, Exception, Label, Tag */
  .nb,
  .bp,
  .ne,
  .nl,
  .nt {
    color: #009E73;
  }

  /* Variable */
  .na,
  .nx,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    color: #D55E00;
  }


  /* Class, Function */
  .nc,
  .nf,
  .fm {
    color: #E69F00;
  }

  /* LiteralNumber */
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .il,
  .mo {
    color: #CC79A7;
  }

  /* LiteralString */
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: #CC79A7;
  }

  /* Comment */
  .c,
  .ch,
  .cm,
  .c1,
  .cs,
  .cp,
  .cpf {
    opacity: 0.66;
  }

  .ge {
    font-style: italic;
  }

  .gh,
  .gu,
  .gs {
    font-weight: bold;
  }

  .gl {
    text-decoration: underline
  }

  .gi {
    background-color: #0f02;
  }

  .gd {
    background-color: #f002;
  }

  .hl {
    background-color: #ff03;
  }

  .gr,
  .go,
  .gp,
  .gt,
  .err,
  .w,
  .x {
    font-style: italic;
  }

  .ln {
    margin-inline-end: 1em;
  }

  .ln,
  .lnt {
    user-select: none;
    color: #8886;
  }

  .lnt,
  .line {
    display: block;
  }

  .lntd {
    vertical-align: top;

    &:first-child {
      width: 2em;

      pre {
        box-shadow: none;
      }
    }
  }

  .lntd,
  .lntable {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
  }

  .lntable {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
  }
}
